---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro." language="en">
  <main>
    <h1 class="text-blue-500">
      Welcome to <span class="text-gradient">Astro subpage</span>
    </h1>
  </main>
</Layout>
