---
export interface Props {
  title: string;
  language: string;
}

const { title } = Astro.props;
const language = Astro.props.language || 'en';
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/10e9e38dca.js"
      crossorigin="anonymous"></script>
    <title>{title}</title>
    <meta name="title" content="About Devhelpr" />
    <meta name="author" content="Devhelpr" />
    <meta
      name="description"
      content="Devhelpr is a freelance software developer focussing on modern frontend web-apps."
    />
  </head>
  <body class="bg-primary">
    <slot />
  </body>
</html>
<style>
  :root {
  }

  html {
  }

  body {
    margin: 0;
  }
</style>

<style global>
  @import './apps/website/public/styles/global.css';
</style>
