---
export interface Props {
	title: string;
	body: string;
	iconIllustration : string;
}

const { title, body, iconIllustration } = Astro.props;

---

<div class="card">
	<div class="card__icon"><i class={iconIllustration}></i></div>
	<h2 class="card__title">
		{title}
	</h2>
	<div class="card__body">
		<p>{body}</p>
	</div>
</div>
<style>
</style>
